.description {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.description-content-container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-input {
    padding: 0.5rem;
    border-bottom: 1px solid var(--primary-medium-color);
}

.update-btn {
    cursor: pointer;
    padding: 0.5rem;
    background: var(--primary-light-color);
    border: 1px solid var(--primary-medium-color);
    border-radius: 0.25rem;
}

.update-btn:hover {
    background: var(--primary-lighter-color);
}