.header {
  z-index: 10;
  max-width: 100%;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0.5rem;
  box-shadow: 0 0.25rem 1rem var(--primary-light-color);
}

.header-left {
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  gap: 1rem;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

@media screen and (max-width: 786px) {
  .header-auth {
    display: none;
  }
}

@media screen and (max-width: 648px) {
  .header-logo {
    display: none;
  }

  .header-left {
    grid-template-columns: 7fr 2fr;
  }
}

@media screen and (max-width: 576px) {
  .header-chat {
    display: none;
  }
}

@media screen and (max-width: 536px) {
  .header-create {
    display: none;
  }

  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .header-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}