.default-initials-icon {
    width: 1.75em;
    height: 1.75em;
    background-color: var(--primary-light-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin: 0 0.5rem; */
    color: var(--primary-medium-color);
}

.default-initials-icon-big {
    width: 100%;
    height: 10rem;
    /* width: 4.75em;
    height: 4.75em; */
    background-color: var(--primary-light-color);
    display: grid;
    place-items: center;
    color: var(--primary-medium-color);
    font-size: 5rem;
}