.pill {
  padding: 0.45rem 1.5rem;
  border: 1px solid var(--primary-light-color);
  border-radius: 1.25rem;
  font-size: 0.85rem;
  color: var(--primary-dark-color);
  background-color: var(--primary-lighter-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
}