.post-footer {
    padding: 0.1rem;
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--primary-light-color);
    background: var(--white-color);
}

.share {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    /* border-radius: 0.25rem; */
}

.share:hover {
    background: var(--primary-light-color);
}

.post-footer-comment {
    display: flex;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}

.post-footer-comment:hover {
    background: var(--primary-light-color);
}

.remove-post {
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.remove-post:hover {
    background: var(--primary-light-color);
}