.create-dropdown {
  position: relative;
}

.create-dropdown-button {
  background: var(--white-color);
  border: none;
  /* border: 1px solid var(--primary-dark-color); */
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: var(--primary-dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.create-dropdown-button:hover {
  background: var(--primary-light-color);
}

.dropdown-icon-rotate {
  transform: rotate(180deg);
}

.create-dropdown-list {
  z-index: 2;
  background: var(--primary-lighter-color);
  width: 12rem;
  position: absolute;
  top: 105%;
  left: 0;
  font-size: 0.85rem;
  color: var(--primary-dark-color);
  list-style-type: none;
}

.create-dropdown-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  color: var(--primary-dark-color);
}

.create-dropdown-list-item:hover {
  background-color: var(--primary-light-color);
}
