.create-dropdown {
  position: relative;
}

.create-dropdown-button {
  background: var(--white-color);
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  color: var(--primary-dark-color);
}

.dropdown-icon {
  margin-left: 0.5rem;
}

.create-dropdown-list {
  z-index: 2;
  background: var(--primary-lighter-color);
  width: 12rem;
  position: absolute;
  top: 2rem;
  left: 0;
  font-size: 0.85rem;
  color: var(--primary-dark-color);
  list-style-type: none;
}

.initials-pill {
  background: var(--primary-light-color);
  margin-right: 0.5rem;
  padding: 0.15rem 0.65rem;
  border-radius: 2rem;
}

.create-dropdown-list-item {
  text-decoration: none;
  color: var(--primary-dark-color);
}

.create-dropdown-list-item li {
  padding: 0.5rem;
}

.create-dropdown-list-item li:hover {
  background-color: var(--primary-light-color);
}

/* .create-dropdown-list-item li:hover > .initials-pill {
  background: var(--primary-medium-color);
} */
