.user-profile-dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-profile-dropdown-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.25rem;
}

.user-profile-dropdown-button:hover {
  background: var(--primary-light-color);
}

.user-profile-dropdown-list {
  z-index: 2;
  background: var(--primary-lighter-color);
  width: 12rem;
  position: absolute;
  top: 2.5rem;
  right: 0;
  font-size: 0.85rem;
  color: var(--primary-dark-color);
}

.user-profile-dropdown-list-item {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-dark-color);
  padding: 0.5rem;
  cursor: pointer;
}

.user-profile-dropdown-list-item:hover {
  background-color: var(--primary-light-color);

}

@media screen and (max-width: 536px) {
  .user-profile-dropdown {
    position: static;
  }
  
  .user-profile-dropdown-list {
    z-index: 2;
    background: var(--white-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}